body {
  background: #1b1e23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
}

.alert {
  border: 2px solid rgb(29, 208, 155);
  border-radius: 5px;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}